<div class="header">
  <h1><a href="/" class="header__logo">🍚</a> Comestible</h1>
  <div class="header__menu">
    <div class="menu__dropdown">
      <span>⭕</span>
      <div class="menu__options">
        <a href="/" class="menu__option">Inicio</a>
        <a href="/school" class="menu__option">Cursos</a>
        <a href="/blog" class="menu__option">Blog</a>
        <a href="/news" class="menu__option">Noticias</a>
        <a href="/contact" class="menu__option">Contacto</a>
        <a href="/about" class="menu__option">Acerca</a>
      </div>
    </div>
  </div>
</div>
