@import url('menu.css');
@import url('header.css');
@import url('blog.css');
@import url('store.css');
@import url('news.css');

body {
  margin: 40px auto;
  padding: 0 10px;
  max-width: 90%;
  font-size: 18px;
  color: #444;
  line-height: 1.6;
  display: block;
  overflow: auto;
}

h1,
h2,
h3 {
  line-height: 1.2;
}

.footer {
  text-align: center;
}


