{% extends "main.html" %}
{% block content %}
<h2>Presentacion</h2>
<p>Somos una empresa enfocada en el aseguramiento la cadena de suministro de alimentos con el fin de garantizar que los alimentos llegan a la mesa del consumidor cumpliendo con altos estandares de calidad.</p>

<h2>Mision</h2>
<p>Nuestra misión es diseñar y optimizar procesos de producción de alimentos seguros, eficientes y sostenibles, ayudando a nuestros clientes a cumplir con los más altos estándares de calidad y seguridad, y garantizando la confianza de los consumidores</p>

<h2>Vision</h2>
<p>Nuestra visión es ser una empresa referente en la industria alimentaria, conocida por su compromiso con la excelencia, la innovación y la responsabilidad social, y por su capacidad para mejorar la vida de las personas a través de la alimentación segura y saludable.</p>
{% endblock %}
