<div class="header">
  <h1><a href="/" class="header__logo">🍚</a> Comestible</h1>
  <div class="header__menu">
    <div class="header-menu__dropdown">
      <span>⭕</span>
      <div class="header-menu__options">
        <a href="/" class="header-menu__option">Inicio</a>
        <a href="/store" class="header-menu__option">Tienda</a>
        <a href="/blog" class="header-menu__option">Blog</a>
        <a href="/news" class="header-menu__option">Noticias</a>
        <a href="/contact" class="header-menu__option">Contacto</a>
        <a href="/about" class="header-menu__option">Acerca</a>
      </div>
    </div>
  </div>
</div>
