<div class="menu">
  <div class="menu__header">
    <h1>Menu</h1>
  </div>
  <div class="menu__body">
    <div class="menu__section">
      <div class="menu-section__header">
        <h2><a href="/blog">Blog</a></h2>
      </div>
      <div class="menu-section__body">
        <p>Artículos relacionados con la producción de alimentos</p>
      </div>
    </div>
    <div class="menu__section">
      <div class="menu-section__header">
        <h2><a href="/store">Tienda</a></h2>
      </div>
      <div class="menu-section__body">
        <p>Ofrecemos:</p>
        <ul>
          <li>Cursos</li>
          <li>Consultoría</li>
          <li>Procesos de certificación</li>
        </ul>
      </div>
    </div>
    <div class="menu__section">
      <div class="menu-section__header">
        <h2><a href="/contact">Contacto</a></h2>
      </div>
      <div class="menu-section__body">
        <p>Contáctenos por:</p>
        <ul>
          <li>email: <a aria-label="Comestible" href="mailto:webmaster@example.com">comestible</a></li>
          <li>celular: <a href="tel:+574155550132">(415) 555‑0132</a></li>
        </ul>
      </div>
    </div>
    <div class="menu__section">
      <div class="menu-section__header">
        <h2><a href="/about">Acerca</a></h2>
      </div>
      <div class="menu-section__body">
        <p>Somos una empresa enfocada en el aseguramiento la cadena de suministro de alimentos.</p>
      </div>
    </div>
  </div>
</div>
