{% extends "main.html" %}
{% block content %}

<div class="cards">
  <div class="cards__header">
    <h2>Noticias</h2>
  </div>
  <div class="cards__body">
    <div class="card">
      <div class="card__header">
        <h1><a href="https://caracol.com.co/2024/10/18/suspenden-temporalmente-13-plantas-procesadoras-de-leche-por-adulteracion-con-lactosueros/" target="_blank">Plantas de leche suspendidas</a></h1>
      </div>
      <div class="card__body">
        <p>Suspenden temporalmente 13 plantas procesadoras de leche por adulteración con lactosueros</p>
      </div>
    </div>
  </div>
</div>

{% endblock %}
