{% extends "main.html" %}
{% block content %}

<div class="school">
  <div class="school__body">
    <div class="school__section">
      <div class="school-section__header">
        <h1>Cursos</h1>
      </div>
      <div class="school-section__body">
        <p>Ofrecemos:</p>
        <ul>
          <li>Manipulacion de alimentos</li>
          <li>BPM</li>
        </ul>
      </div>
    </div>
    <div class="school__section">
      <div class="school-section__header">
        <h1>Contacto</h1>
      </div>
      <div class="school-section__body">
        <p>Contactanos por:</p>
        <ul>
          <li>email: <a aria-label="Comestible" href="mailto:webmaster@example.com">comestible</a></li>
          <li>celular: <a href="tel:+574155550132">(415) 555‑0132</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

{% endblock %}
