{% extends "main.html" %}
{% block content %}

<div class="store">
  <div class="store__header">
    <h1>Tienda</h1>
  </div>
  <div class="store__body">
    <div class="store__section">
      <div class="store-section__header">
        <h2 class="store-section__title">Manipulación: alimentos</h2>
        <div class="store-section__tags">
          <span class="store-section__tag">Curso</span>
        </div>
      </div>
      <div class="store-section__body">
        <ul>
          <li>Manipulación higiénica de Alimentos y bebidas</li>
          <li>Resolución 2674 de 2013</li>
        </ul>
      </div>
    </div>
    <div class="store__section">
      <div class="store-section__header">
        <h2 class="store-section__title">Manipulación: bebidas alcohólicas</h2>
        <div class="store-section__tags">
          <span class="store-section__tag">Curso</span>
        </div>
      </div>
      <div class="store-section__body">
        <ul>
          <li>Manipulación higiénica de bebidas alcohólicas</li>
          <li>Decreto 162 de 2021, Decreto 1686 de 2012</li>
        </ul>
      </div>
    </div>
    <div class="store__section">
      <div class="store-section__header">
        <h2 class="store-section__title">Manipulación: carnes</h2>
        <div class="store-section__tags">
          <span class="store-section__tag">Curso</span>
        </div>
      </div>
      <div class="store-section__body">
        <ul>
          <li>Manipulación higiénica de carne y productos cárnicos comestibles</li>
          <li>Decreto 1500 de 2007</li>
        </ul>
      </div>
    </div>
    <div class="store__section">
      <div class="store-section__header">
        <h2 class="store-section__title">Manipulación: leche</h2>
        <div class="store-section__tags">
          <span class="store-section__tag">Curso</span>
        </div>
      </div>
      <div class="store-section__body">
        <ul>
          <li>Manipulación higiénica leche cruda para consumo humano</li>
          <li>Decreto 1880 de 2012</li>
        </ul>
      </div>
    </div>
    <div class="store__section">
      <div class="store-section__header">
        <h2 class="store-section__title">Plan de saneamiento</h2>
        <div class="store-section__tags">
          <span class="store-section__tag">Consultoría</span>
        </div>
      </div>
      <div class="store-section__body">
        <p>Creación del plan de saneamiento básico:</p>
        <ul>
          <li>Programas de limpieza y desinfección</li>
          <li>Residuos sólidos</li>
          <li>Suministro y calidad de agua potable</li>
          <li>Control de plagas</li>
        </ul>
      </div>
    </div>
    <div class="store__section">
      <div class="store-section__header">
        <h2 class="store-section__title">Tramite</h2>
        <div class="store-section__tags">
          <span class="store-section__tag">Consultoría</span>
        </div>
      </div>
      <div class="store-section__body">
        <p>Tramite de autorización sanitaria de comercialización Invima:</p>
        <ul>
          <li>Registro sanitario</li>
          <li>Permiso o Notificación sanitaria.</li>
        </ul>
      </div>
    </div>
    <div class="store__section">
      <div class="store-section__header">
        <h2 class="store-section__title">BPM</h2>
        <div class="store-section__tags">
          <span class="store-section__tag">Consultoría</span>
        </div>
      </div>
      <div class="store-section__body">
        <p>Asesoría en cumplimiento de requisitos higiénicos y Buenas Prácticas de Manufactura: BPM</p>
        <ul>
          <li>Preparación de visitas de Invima y secretaria de salud</li>
        </ul>
      </div>
    </div>
    <div class="store__section">
      <div class="store-section__header">
        <h2 class="store-section__title">Etiquetado</h2>
        <div class="store-section__tags">
          <span class="store-section__tag">Consultoría</span>
        </div>
      </div>
      <div class="store-section__body">
        <p>Asesoría en cumplimiento de los requisitos de etiquetado:</p>
        <ul>
          <li>Etiquetado nutricional y frontal</li>
          <li>Sellos de advertencia (Resolución 810 de 2021, Resolución 2492 de 2022)</li>
        </ul>
      </div>
    </div>
  </div>
</div>

{% endblock %}
